# This is a basic template and might need adjustments based on your specific setup
source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# Add virtual network plug
auto veth0
iface veth0 inet manual
    pre-up ip link add veth0 type dummy
 
# Add bridge to that network plug
auto br1
iface br1 inet static
  address 192.168.8.1
  netmask 255.255.255.0
  bridge_ports veth0
  bridge_stp off

# The primary network interface
allow-hotplug enp3s0
iface enp3s0 inet static
  address 192.168.10.225
  netmask 255.255.255.0
  gateway 192.168.10.1
  dns-nameservers 8.8.8.8 8.8.4.4
