# This is a basic template and might need adjustments based on your specific setup
source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
# WAN
auto ens3
iface ens3 inet dhcp

# The secondary network interface
# LAN
auto ens5
iface ens5 inet static
  address 192.168.100.1
  netmask 255.255.255.0
